<div class="container">
    <h2>User Settings</h2>
    <!--<form #myForm="ngForm" ngNativeValidate>--> <!--ngNativeValidate to enable html5 validation required pattern min max -->
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input  type="text"
                    placeholder="Name"
                    id="name"
                    name="name"
                    class="form-control"
                    [(ngModel)]="userSettings.name"
                    required
                    #classTest
                    #nameField="ngModel"
                    [class.field-error]="myForm.submitted && nameField.invalid">
            <!-- <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger"> -->
            <div [hidden]="!myForm.submitted || nameField.untouched" class="alert alert-danger">
                Enter a name
            </div>
        </div>
        <div class="form-group">
          <label for="starDate">Start Date</label>
          <input type="text"
                placeholder="start date"
                class="form-control"
                [(ngModel)]="startDate" name="startDate" id="startDate" bsDatepicker>
        </div>
        <p>start Date : {{startDate}}</p>
        <button type="button" class="btn btn-primary" name="singleModel"
          [(ngModel)]="singleModel" btnCheckbox
          btnCheckboxTrue="On" btnCheckboxFalse="Off">
          {{singleModel}}
        </button>
        <!--
            <p>{{classTest.className}}</p>
        --> <!--classTest via template reference variable to get input element attribute-->
        <!--
        <h3>nameField from <b>ngModel</b> property dirty: {{ nameField.dirty }}</h3>
        <h3>nameField from <b>ngModel</b> property pristine: {{ nameField.pristine }}</h3>
        <h3>nameField from <b>ngModel</b> property touched: {{ nameField.touched }}</h3>
        <h3>nameField from <b>ngModel</b> property untouched: {{ nameField.untouched }}</h3>
        <h3>nameField from <b>ngModel</b> property valid: {{ nameField.valid }}</h3>
        <h3>nameField from <b>ngModel</b> property invalid: {{ nameField.invalid }}</h3>
        -->
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
                <label for="emailOffers" class="form-check-label">Email Speical Offer</label>
            </div>
        </div>
        <p>User Interface Style</p>
        <div class="form-group">
          <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
                 btnRadio="Light" tabindex="0" role="button">Light</label>
          <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
                 btnRadio="Medium" tabindex="0" role="button">Medium</label>
          <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
                 btnRadio="Dark" tabindex="0" role="button">Dark</label>
          <!--
            <div class="form-check" required>
                <input type="radio" name="interfaceStyle" class="form-check-input" id="lightInterface" value="light" checked [(ngModel)]="userSettings.interfaceStyle">
                <label for="lightInterface" class="form-check-label">Light</label>
            </div>
            <div class="form-check">
                <input type="radio" name="interfaceStyle" class="form-check-input" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle">
                <label for="mediumInterface" class="form-check-label">Medium</label>
            </div>
            <div class="form-check">
                <input type="radio" name="interfaceStyle" class="form-check-input" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle">
                <label for="darkInterface" class="form-check-label">Dark</label>
            </div>
            -->
        </div>
        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-control" name="subscriptionType" id="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
              <!--
              <option value="mothly">Monthly</option>
              <option value="Annually">Annually</option>
              <option value="Lifetime">Lifetime</option>
              -->
              <option *ngFor="let type of subscriptionTypes" value={{type}}>{{type}}</option>
              <option *ngFor="let type of subObservable | async" value={{type}}>{{type}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="note">Notes</label>
            <textarea class="form-control" name="note" id="note" rows="3" [(ngModel)]="userSettings.note" required></textarea>
        </div>
        <!--
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" ngModel>
        </div>

        <div class="form-group">
            <label for="dateMy">Choose Date</label>
            <input type="date" id="dateMy" class="form-control" name="dateMy" ngModel>
        </div>
        <div class="form-group">
            <label for="colorMy">Choose Date</label>
            <input type="color" id="colorMy" class="form-control" name="colorMy" ngModel>
        </div>
        -->
        <div [hidden]="!postError" class="alert alert-danger">
          {{postErrorMessage}}
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
</div>
<hr>
<div class="container">
    <div class="row">
        <h3>myForm value is {{myForm.value | json}}</h3>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <h3>originUserSettings value is {{originUserSettings | json}}</h3>
    </div>
</div>
<hr>
{{myForm | circularPipe}}
